**Machine Learning - Smooth Guide**


Maybe you've heard that machine learning is statistics, but that's not the case. machine learning can utilize statistics, but it is incorrectly stated that they are synonymous. So what is machine learning? this area of ​​study is nothing more than an attempt at the following question: what types of tasks can a computer learn? The key here is to keep in mind that computers only understand numbers - this is where data or statistics come in.
Take, for example, the task of running a marketing campaign. in it, the professional needs information about his clients to extract insights. Tasks such as understanding customer consumption patterns are routine for this worker, who will use mathematical calculations to evaluate or build indicators. Returning to machine learning, I ask you: is it possible for a machine to learn this task?  or rather, in statistical science there are methods that are able to obtain the correlation between 2 or more phenomena, so I reformulate the question: what will machine learning be like if we introduce these statistical methods into the process?

Let's take a look...

In [ ]:

from google.colab import drive
import pandas as pd


drive.mount('/content/drive')

df = pd.read_csv('/content/drive/MyDrive/bank-full.csv', sep=';')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no


in the cell above, we only import the data set that is the result of a marketing campaign - considering that each line represents a customer, we have that the letter y contains the information if it was successful or not.
considering the information obtained, the marketing professional will study the collected results and, then, segment the customers to infer about the possible niches of the studied enterprise. however, is it possible to make a machine learn this task? this is where the algorithms come in, which will be fed with the methods of statistical science

In [ ]:
from sklearn import ensemble

lista = dir(ensemble)


print('-------------------------------------')
print('Some algorithms that can be used:\n')

lista[0:18]

-------------------------------------
Some algorithms that can be used:

['AdaBoostClassifier',
 'AdaBoostRegressor',
 'BaggingClassifier',
 'BaggingRegressor',
 'BaseEnsemble',
 'ExtraTreesClassifier',
 'ExtraTreesRegressor',
 'GradientBoostingClassifier',
 'GradientBoostingRegressor',
 'HistGradientBoostingClassifier',
 'HistGradientBoostingRegressor',
 'IsolationForest',
 'RandomForestClassifier',
 'RandomForestRegressor',
 'RandomTreesEmbedding',
 'StackingClassifier',
 'StackingRegressor',
 'VotingClassifier']

To conclude this study, the idea of this script was to provide a simple guide to what the machine learning process is, so that you can think of products that involve this technology without worrying about the mathematics involved.

for script references, I usually indicate two books and one of them will be in Portuguese - I have this custom to promote researchers in my country

references:

1) http://www.rizbicki.ufscar.br/ame/

2) https://online.stanford.edu/courses/sohs-ystatslearning-statistical-learning

3) dataset: https://archive.ics.uci.edu/ml/datasets/Bank+Marketing

Thank you!